.export-card[data-v-9d393cd2]{padding:2rem;background:#fff;border-radius:.5rem;box-shadow:0 4px 6px #0000001a;transition:all .3s}.export-card[data-v-9d393cd2]:hover{transform:scale(1.05);box-shadow:0 8px 12px #0003}
